<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Typography</title>
    <link rel="stylesheet" href="typography.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/styles/vs2015.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/languages/go.min.js"></script>
  </head>
  <body>
    <nav class="nav">
      <section class="header-logo">
       <span class="heading">Droid-Ui</span>
      </section>
    <section class="nav-right">
      <a href="../../index.html" class="nav-link">Home</a>
      <a href="./components/Avatar/avatar.html" class="nav-link">Docs</a>
      <a href="https://github.com/talrejah02/component-library" class="nav-link">Github</a>
   </section>
</nav>
    <section class="component">

        <aside class="drawer">
            <section class="drawer-header">
              <span class="header-title">Get Started</span>
            </section>
            <hr class="list-divider">
            <section class="drawer-content">
             <nav class="content-list">
                <a href="../../index.html" class="list-item">Home</a>
                <a class="list-item" href="../typography/typography.html">Typography</a>
                <span class="header-subtitle">Components</span>
                <hr class="list-divider">
                <a href="../Avatar/avatar.html" class="list-item">Avatar</a>
                <a href="../Alert/alert.html" class="list-item">Alert</a>
                <a href="../Badge/badge.html" class="list-item">Badge</a>
                <a href="../Button/button.html" class="list-item">Button</a>
                <a href="../card/card.html" class="list-item">Card</a>
                <a href="../image/image.html" class="list-item">Image</a>
                <a href="../Input/Input.html" class="list-item">Input</a>
                <a href="../Input/navigation.html" class="list-item">Navigation</a>
                <a href="../Input/snackbar.html" class="list-item">Snackbar</a> 
                </nav>
        </aside>

      <section class="doc-container">

        <section class="description-area">
             <span class="description-heading">Typography</span>
             <span class="description">Here are some text utilities</span>
        </section>

        <section class="description-area">
             <span class="description-heading">Importing</span>
             <span class="description">Use classes by adding stylesheet using link below</span>         
        </section>
        
        <section class="code">
              <pre>
                  <code class="html">
&lt;link rel="stylesheet" href="https://droid-ui.netlify.app/components/typography/typography.css"/&gt;
                  </code>
                  </pre>
        </section>
        
        <section class="description-area">
            <span class="description-heading">Heading</span>
            <span class="description">Here are all headings in 6 different sizes from h1 to h6</span>         
       </section>
  
          <section class="preview-container cl">
                <span class="h1">This is h1 heading</span>
                <span class="h2">This is h2 heading</span>
                <span class="h3">This is h3 heading</span>
                <span class="h4">This is h4 heading</span>
                <span class="h5">This is h5 heading</span>
                <span class="h6">This is h6 heading</span>
          </section>

          <section class="description-area">
              <span class="description-heading">Text Gray Golors</span>
              <span class="description">Here are all text color in different shades</span>  
            </section>
            <ul class="description-list">
                <li class="description-list-item"><span class="inverted">text-Gray</span></li>
                <li class="description-list-item"><span class="inverted">text-lightGray</span></li>
                <li class="description-list-item"><span class="inverted">text-mediumGray</span></li>
                <li class="description-list-item"><span class="inverted">text-darkGray</span></li>
              </ul>
              <section class="preview-container cl">
                 <span class="text-Gray">Gray</span>
                 <span class="text-lightGray">Light gray</span>
                 <span class="text-mediumGray">Medium gray</span>
                 <span class="text-darkGray">Dark gray</span>
              </section>

              <section class="description-area">
                <span class="description-heading">Font size</span>
                <span class="description">Here are different sizes of text</span>  
              </section>
              <ul class="description-list">
                <li class="description-list-item"><span class="inverted">f1</span></li>
                <li class="description-list-item"><span class="inverted">f2</span></li>
                <li class="description-list-item"><span class="inverted">f3</span></li>
                <li class="description-list-item"><span class="inverted">f4</span></li>
                <li class="description-list-item"><span class="inverted">f5</span></li>
              </ul>

              <section class="preview-container cl">
                 <span class="f1">font-size1</span>
                 <span class="f2">font-size2</span>
                 <span class="f3">font-size3</span>
                 <span class="f4">font-size4</span>
                 <span class="f5">font-size5</span>
              </section>

              <section class="description-area">
                <span class="description-heading">Text center</span>
                <span class="description">Using <span class="inverted">text-center</span> class you can center a text</span>  
              </section>

              <section class="preview-container cl">
                 <span class="text-center">Center-text</span>
                 
              </section>

            
           </section>
    </section>
    <script>hljs.highlightAll();</script>
  </body>
</html>
