@import url(../../docs-css/reset.css);
@import url(../common-css/drawer.css);
@import url(../common-css/container.css);
@import url(../../style.css);

.btn{
    /* min-width: 6rem; */
    width: max-content;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.8rem 1rem 0.8rem 1rem;
    margin: 1rem;
    border: none;
    border-radius: 3px;
    background-color: var(--primary);
    color: var(--font-secondary);
}
.btn:hover{
    cursor: pointer;
    background-color:var(--accent-hover) ;
}
.btn-primary{
    background-color: var(--alert-primary);
}
.btn-primary:hover{
    background-color: var(--alert-primary-hover);
}
.btn-secondary{
 background-color: var(--secondary);
 color:var(--primary);
}
.btn-secondary:hover{
    background-color: var(--secondary-hover);
}
.btn-link{
    background-color: var(--accent);

}
.btn-icon{
    display: flex;
    align-items: center;
    background-color: var(--accent);
}
.btn-icon img{
    margin: 0.5rem;
    margin-top: 0;
    margin-bottom: 0;
}
.btn-float{
    background-color: var(--accent);
    border-radius: 50%;
    padding: 0;
    padding-top: 0.3rem;
    height:60px;
    width:60px;
    box-shadow: grey 0px 0px 13px;
}