<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avatar</title>
    <link rel="stylesheet" href="avatar.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/styles/vs2015.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/languages/go.min.js"></script>
  </head>
  <body>
    <nav class="nav">
      <section class="header-logo">
       <span class="heading">Droid-Ui</span>
      </section>
    <section class="nav-right">
      <a href="../../index.html" class="nav-link">Home</a>
      <a href="./components/Avatar/avatar.html" class="nav-link">Docs</a>
      <a href="https://github.com/talrejah02/component-library" class="nav-link">Github</a>
   </section>
</nav>
    <section class="component">

        <aside class="drawer">
            <section class="drawer-header">
              <span class="header-title">Get Started</span>
              <!-- <span class="header-subtitle"></span> -->
            </section>
            <hr class="list-divider">
            <section class="drawer-content">
             <nav class="content-list">
              <a  href="../../index.html" class="list-item">Home</a>
              <a class="list-item">Colors</a>
              <a class="list-item">Typography</a>
              <span class="header-subtitle">Components</span>
              <hr class="list-divider">
              <a href="../Avatar/avatar.html" class="list-item">Avatar</a>
              <a href="../Alert/alert.html" class="list-item">Alert</a>
              <a  href="../Badge/badge.html"  class="list-item">Badge</a>
              <a href="../Button/button.html" class="list-item">Button</a>
              <a  href="../card/card.html" class="list-item">Card</a>
              <a href="../image/image.html" class="list-item">Image</a>
              <a href="../Input/Input.html" class="list-item">Input</a>
              <a class="list-item">List</a>
              <a class="list-item">Toast</a>  
                </nav>
        </aside>

      <section class="doc-container">

        <section class="description-area">
             <span class="description-heading">Avatar</span>
             <span class="description">Avatar class is used to display profile images and icons</span>
        </section>

        <section class="description-area">
             <span class="description-heading">Importing</span>
             <span class="description">Use classes by adding stylesheet using link below</span>         
        </section>
        
        <section class="code">
              <pre>
                  <code class="html">
&lt;link rel="stylesheet" href="https://droid.netlify.app//components/Avatar/avatar.css"/&gt;
                  </code>
                  </pre>
        </section>

          <span class="description"> <span class="inverted">Avatar</span>  component has 1 shape class and 3 size classes</span>
          <ul class="description-list">
              <li class="description-list-item"><span class="inverted">avatar</span>: This is a default class which makes avatar rounded</li>
              <li class="description-list-item"><span class="inverted">square</span>: this class makes avatar in square shape</li>
          </ul>

          <span class="description-heading">Avatar default</span>
          <section class="preview-container">
                <img src="../../Assets/images/avatar2.jpg" class="avatar " />
                <img src="../../Assets/images/avatar2.jpg" class="avatar " />
                <img src="../../Assets/images/avatar2.jpg" class="avatar " />
          </section>

          <section class="code">
              <pre>
                    <code class="html">
    &lt;img src="../../Assets/images/avatar2.jpg" class="avatar " /&gt;
    &lt;img src="../../Assets/images/avatar2.jpg" class="avatar " /&gt;
    &lt;img src="../../Assets/images/avatar2.jpg" class="avatar " /&gt;
                    </code>
               </pre>
          </section>

              <span class="description-heading">Avatar square</span>
              <section class="preview-container">
                  <img src="../../Assets/images/avatar2.jpg" class="avatar square " />
                  <img src="../../Assets/images/avatar2.jpg" class="avatar square " />
                  <img src="../../Assets/images/avatar2.jpg" class="avatar square " />
              </section>

              <section class="code">
                <pre>
                    <code class="html">
    &lt;img src="../../Assets/images/avatar2.jpg" class="avatar square" /&gt;
    &lt;img src="../../Assets/images/avatar2.jpg" class="avatar square" /&gt;
    &lt;img src="../../Assets/images/avatar2.jpg" class="avatar square" /&gt;
                    </code>
                </pre>
                  </section>

              <span class="description-heading">Avatar Sizes</span>
              <ul class="description-list">
                <li class="description-list-item"><span class="inverted">sm</span>: this class makes avatar small</li>
                <li class="description-list-item"><span class="inverted">md</span>: this class makes avatar medium</li>
                <li class="description-list-item"><span class="inverted">lg</span>: this class makes avatar large</li>
              </ul>

              <section class="preview-container">
                  <img src="../../Assets/images/avatar2.jpg" class="avatar square sm" />
                  <img src="../../Assets/images/avatar2.jpg" class="avatar square md" />
                  <img src="../../Assets/images/avatar2.jpg" class="avatar square lg" />
              </section>

              <section class="code">
                <pre>
                    <code class="html">
    &lt;img src="../../Assets/images/avatar2.jpg" class="avatar square sm" /&gt;
    &lt;img src="../../Assets/images/avatar2.jpg" class="avatar square md" /&gt;
    &lt;img src="../../Assets/images/avatar2.jpg" class="avatar square lg" /&gt;
                    </code>
                    </pre>
               </section>

           </section>
    </section>
    <script>hljs.highlightAll();</script>
  </body>
</html>
