<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navigation</title>
    <link rel="stylesheet" href="navigation.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/styles/vs2015.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/languages/go.min.js"></script>
</head>

<body>
    <!-- ---------------------nav-------------- -->
    <nav class="nav">
        <section class="header-logo">
            <span class="heading">Droid-Ui</span>
        </section>
        <section class="nav-right">
            <a href="../../index.html" class="nav-link">Home</a>
            <a href="./components/Avatar/avatar.html" class="nav-link">Docs</a>
            <a href="https://github.com/talrejah02/component-library" class="nav-link">Github</a>
        </section>
    </nav>
    <!-- ---------------------main-------------- -->

    <section class="component">
        <!-- ---------------------drawer-------------- -->

        <aside class="drawer">
            <section class="drawer-header">
                <span class="header-title">Get Started</span>
                <!-- <span class="header-subtitle"></span> -->
            </section>
            <hr class="list-divider">
            <section class="drawer-content">
                <nav class="content-list">
                    <a href="../../index.html" class="list-item">Home</a>
                    <a class="list-item" href="../typography/typography.html">Typography</a>
                    <span class="header-subtitle">Components</span>
                    <hr class="list-divider">
                    <a href="../Avatar/avatar.html" class="list-item">Avatar</a>
                    <a href="../Alert/alert.html" class="list-item">Alert</a>
                    <a href="../Badge/badge.html" class="list-item">Badge</a>
                    <a href="../Button/button.html" class="list-item">Button</a>
                    <a href="../card/card.html" class="list-item">Card</a>
                    <a href="../grid/Grid.html" class="list-item">Grid</a>
                    <a href="../image/image.html" class="list-item">Image</a>
                    <a href="../Input/Input.html" class="list-item">Input</a>
                    <a href="../Lists/Lists.html" class="list-item">Lists</a> 
                                      <a href="../modal/modal.html" class="list-item">Modal</a> 
 
                    <a href="../navigation/navigation.html" class="list-item">Navigation</a>
                      <a href="../rating/rating.html" class="list-item">Rating</a>
                    <a href="../snackbar/snackbar.html" class="list-item">Snackbar</a> 
                </nav>
        </aside>
        <!-- ---------------------description-------------- -->

        <section class="doc-container">
            <section class="description-area">
                <span class="description-heading">Navigation</span>
                <span class="description">Navigation bar helps user to navigate through different pages</span>
            </section>

            <section class="description-area">
                <span class="description-heading">Importing</span>
                <span class="description">Use classes by adding stylesheet using link below</span>
                <section class="code">
                    <pre>
            <code class="html">
   &lt;link rel="stylesheet" href="https://droid-ui.netlify.app/components/navigation/navigation.css"/&gt;
            </code>
            </pre>
                </section>
            </section>
            <section class="description-area">
                <span class="description-heading">Desktop Navbar</span>
                <section class="preview-container ">
                    <nav style="width: 100%;" class="nav">
                        <section class="header-logo">
                            <span class="heading">Droid-Ui</span>
                        </section>
                        <section class="nav-right">
                            <a href="../../index.html" class="nav-link">Home</a>
                            <a href="./components/Avatar/avatar.html" class="nav-link">Docs</a>
                            <a href="https://github.com/talrejah02/component-library" class="nav-link">Github</a>
                        </section>
                    </nav>
                </section>

                <section class="code">
                    <pre>
            <code class="html">
&lt;nav class="nav"&gt;

  &lt;section class="header-logo"&gt;
     &lt;span class="heading"&gt;Droid-Ui&lt;/span&gt;
  &lt;/section&gt;

  &lt;section class="nav-right"&gt;
      &lt;a href="../../index.html" class="nav-link"&gt;Home&lt;/a&gt;
      &lt;a href="./components/Avatar/avatar.html" class="nav-link"&gt;Docs&lt;/a&gt;
      &lt;a href="https://github.com/talrejah02/component-library" class="nav-link"&gt;Github&lt;/a&gt;
  &lt;/section&gt;

&lt;/nav&gt;
            </code>
        </pre>
                </section>

            </section>
        </section>
        
        <script>
            hljs.highlightAll();
        </script>
</body>

</html>