@import url(../../docs-css/reset.css);
@import url(../common-css/drawer.css);
@import url(../common-css/container.css);
@import url(../../style.css);

/* .nav {
    width:98.7%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary);
    color: var(--font-secondary);
    padding: 0.5rem;
    z-index: 1;
    
    
  }
  .heading {
    font-size: 24px;
    line-height: 32px;
  }
  .header-logo{
      padding-left: 1rem;
  }
  .nav-right {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 16rem;
  }
  .nav-link {
    font-size: 19px;
    text-decoration: none;
    border-radius: 10px;
    color: var(--font-primary);
    padding: 0.5rem 0.9rem 0.5rem 0.9rem;
  }
  .nav-link:hover {
    border-radius: 10px;
    color: var(--primary);
    background-color: var(--secondary);
  } */