<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="snackbar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/styles/vs2015.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/languages/go.min.js"></script>
</head>

<body>
    <!-- ---------------------nav-------------- -->
    <nav class="nav">
        <section class="header-logo">
            <span class="heading">Droid-Ui</span>
        </section>
        <section class="nav-right">
            <a href="../../index.html" class="nav-link">Home</a>
            <a href="./components/Avatar/avatar.html" class="nav-link">Docs</a>
            <a href="https://github.com/talrejah02/component-library" class="nav-link">Github</a>
        </section>
    </nav>
    <!-- ---------------------main-------------- -->

    <section class="component">
        <!-- ---------------------drawer-------------- -->

        <aside class="drawer">
            <section class="drawer-header">
                <span class="header-title">Get Started</span>
                <!-- <span class="header-subtitle"></span> -->
            </section>
            <hr class="list-divider">
            <section class="drawer-content">
                <nav class="content-list">
                    <a href="../../index.html" class="list-item">Home</a>
                    <a class="list-item">Colors</a>
                    <a class="list-item">Typography</a>
                    <span class="header-subtitle">Components</span>
                    <hr class="list-divider">
                    <a href="../Avatar/avatar.html" class="list-item">Avatar</a>
                    <a href="../Alert/alert.html" class="list-item">Alert</a>
                    <a href="../Badge/badge.html" class="list-item">Badge</a>
                    <a href="../Button/button.html" class="list-item">Button</a>
                    <a href="../card/card.html" class="list-item">Card</a>
                    <a href="../image/image.html" class="list-item">Image</a>
                    <a href="../Input/Input.html" class="list-item">Input</a>
                    <a href="../Input/Input.html" class="list-item">Navigation</a>
                    <a href="../snackbar/snackbar.html" class="list-item">Snackbar</a>


                </nav>
        </aside>
        <!-- ---------------------description-------------- -->

        <section class="doc-container">
            <section class="description-area">
                <span class="description-heading">Snackbar</span>
                <span class="description">Snackbar informs user about the process that happend on a screen interaction</span>
            </section>

            <section class="description-area">
                <span class="description-heading">Importing</span>
                <span class="description">Use classes by adding stylesheet using link below</span>
                <section class="code">
                    <pre>
            <code class="html">
   &lt;link rel="stylesheet" href="https://droid.netlify.app/components/snackbar/snackbar.css"/&gt;
            </code>
            </pre>
                </section>
            </section>
            <section class="description-area">
                <ul class="description-list">
                    <li class="description-list-item"><span class="inverted">Click on the show button to see demo</li>
                </ul>
                <section class="preview-container ">
                    <button class="btn-primary">Show snackbar</button>
                    <section class="snackbar">
                        <span>Can't sent a photo. Retry in 5 seconds.</span>
                        <button class="snackbar-btn">Retry</button>
                        <button class="snackbar-btn-cross">x</button>

                        </section>
                </section>

                <section class="code">
                    <pre>
            <code class="html">

&lt;section class="snackbar">
    &lt;span&gt;Can't sent a photo. Retry in 5 seconds.&lt;/span&gt;
    &lt;button class="snackbar-btn"&gt;Retry&lt;/button&gt;
    &lt;button class="snackbar-btn-cross"&gt;x&lt;/button&gt;
&lt;/section&gt;

            </code>
        </pre>
                </section>

            </section>
        </section>
        
        <script>
            hljs.highlightAll();
        </script>
    <script src="./snackbar.js" type="text/javascript"></script>
</body>

</html>