@import url(../../docs-css/reset.css);
@import url(../common-css/drawer.css);
@import url(../common-css/container.css);
@import url(../../style.css);

body{
    background-color: var(--secondary);
    margin: 0;   
}
.alert{
    width: 90%;
    color: var(--font-secondary);
    padding: 0.8rem 0rem 0.8rem 1.2rem;
    margin: 0.4rem;
    border-radius: 4px;
    font-size: 0.9rem;
    font-family: 'Rubik', sans-serif;
}
.primary{
  background-color: var(--alert-primary);
}
.error{
 background-color: var(--alert-error);
}
.success{
 background-color: var(--alert-success);
}
.warning{
 background-color: var(--alert-warning);
}
.outline-primary{
    color: var(--alert-primary);
    border:1px solid var(--alert-primary);
}
.outline-error{
    color: var(--alert-error);
    border:1px solid var(--alert-error);
}
.outline-success{
    color: var(--alert-success);
    border:1px solid var(--alert-success);
}
.outline-warning{
    color: var(--alert-warning);
    border:1px solid var(--alert-warning);
}