<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="alert.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/styles/vs2015.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.1/languages/go.min.js"></script>
</head>

<body>
    <!-- ---------------------nav-------------- -->
    <nav class="nav">
        <section class="header-logo">
            <span class="heading">Droid-Ui</span>
        </section>
        <section class="nav-right">
            <a href="../../index.html" class="nav-link">Home</a>
            <a href="./components/Avatar/avatar.html" class="nav-link">Docs</a>
            <a href="https://github.com/talrejah02/component-library" class="nav-link">Github</a>
        </section>
    </nav>
    <!-- ---------------------main-------------- -->

    <section class="component">
        <!-- ---------------------drawer-------------- -->

        <aside class="drawer">
            <section class="drawer-header">
                <span class="header-title">Get Started</span>
                <!-- <span class="header-subtitle"></span> -->
            </section>
            <hr class="list-divider">
            <section class="drawer-content">
                <nav class="content-list">
                    <a href="../../index.html" class="list-item">Home</a>
                    <a class="list-item" href="../typography/typography.html">Typography</a>
                    <span class="header-subtitle">Components</span>
                    <hr class="list-divider">
                    <a href="../Avatar/avatar.html" class="list-item">Avatar</a>
                    <a href="../Alert/alert.html" class="list-item">Alert</a>
                    <a href="../Badge/badge.html" class="list-item">Badge</a>
                    <a href="../Button/button.html" class="list-item">Button</a>
                    <a href="../card/card.html" class="list-item">Card</a>
                    <a href="../image/image.html" class="list-item">Image</a>
                    <a href="../Input/Input.html" class="list-item">Input</a>
                    <a href="../navigation/navigation.html" class="list-item">Navigation</a>
                    <a href="../snackbar/snackbar.html" class="list-item">Snackbar</a> 
                    <a href="../Lists/Lists.html" class="list-item">Lists</a> 

                </nav>
        </aside>
        <!-- ---------------------description-------------- -->

        <section class="doc-container">
            <section class="description-area">
                <span class="description-heading">Alert</span>
                <span class="description">An alert displays a short, important message in a way that attracts the user's
                    attention without interrupting the user's task.</span>
            </section>

            <section class="description-area">
                <span class="description-heading">Importing</span>
                <span class="description">Use classes by adding stylesheet using link below</span>
                <section class="code">
                    <pre>
            <code class="html">
   &lt;link rel="stylesheet" href="https://droid-ui.netlify.app/components/alert/alert.css"/&gt;
            </code>
            </pre>
                </section>
            </section>
            <section class="description-area">
                <span class="description-heading">Simple Alert</span>
                <span class="description"> <span class="inverted">Simple alert</span> component has various
                    classes</span>
            </section>
            <ul class="description-list">
                <li class="description-list-item"> <span class="inverted">primary</span>: This is a default class which
                    makes avatar rounded</li>
                <li class="description-list-item"><span class="inverted">error</span>: this class makes avatar in square
                    shape</li>
                <li class="description-list-item"><span class="inverted">success</span>: this class makes avatar in
                    square shape</li>
                <li class="description-list-item"><span class="inverted">warning</span>: this class makes avatar in
                    square shape</li>
            </ul>
            <section class="preview-container cl">
                <section class="alert primary">Primary! This is a Primary Alert - Check it now!</section>
                <section class="alert error">error! This is a error Alert - Check it now!</section>
                <section class="alert success">success! This is a success Alert - Check it now!</section>
                <section class="alert warning">warning! This is a warning Alert - Check it now!</section>
            </section>

            <section class="code">
                <pre>
            <code class="html">
&lt;section class="alert primary">Primary! This is a Primary Alert - Check it now!/&gt;
&lt;section class="alert error">error! This is a error Alert - Check it now!/&gt;
&lt;section class="alert success">success! This is a success Alert - Check it now!/&gt;
&lt;section class="alert warning">warning! This is a warning Alert - Check it now!/&gt;
            </code>
        </pre>
            </section>

            <section class="description-area">
                <span class="description-heading">Outline Alert</span>
                <span class="description"> <span class="inverted">Outline alert</span> are created by using alert class,
                    followed by outline-variant.</span>
            </section>

            <section class="preview-container cl">
                <section class="alert outline-primary">Primary! This is a Primary Alert - Check it now!</section>
                <section class="alert outline-error">error! This is a error Alert - Check it now!</section>
                <section class="alert outline-success">success! This is a success Alert - Check it now!</section>
                <section class="alert outline-warning">warning! This is a warning Alert - Check it now!</section>
            </section>
            <section class="code">
                <pre>
                <code class="html">
&lt;section class="alert outline-primary">Primary! This is a Primary Alert - Check it now!/&gt;
&lt;section class="alert outline-error">error! This is a error Alert - Check it now!/&gt;
&lt;section class="alert outline-success">success! This is a success Alert - Check it now!/&gt;
&lt;section class="alert outline-warning">warning! This is a warning Alert - Check it now!/&gt;
                </code>
            </pre>
            </section>



        </section>
        <script>
            hljs.highlightAll();
        </script>
</body>

</html>